.s-features
  padding-top: 75px
  .section-title
    margin-bottom: 42px

.feature-item
  width: 458px
  background-color: #fff
  border-radius: 5px
  padding: 41px 80px 40px 30px
  &-img
    height: 51px
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 22px
  img
    width: auto!important
  &-title
    font-size: 20px
    font-weight: 700
    margin-bottom: 14px